[submodule "pure"]
	path = pure
	url = https://github.com/sindresorhus/pure.git
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
