[submodule "pure"]
	path = pure
	url = https://github.com/sindresorhus/pure.git
[submodule "fast-syntax-highlighting"]
	path = fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
